/* Geral */
.vertical-center {
    min-height: 100vh;  
    display: flex;
    align-items: center;
}

.title-center {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#raffled_number {
    font-size: 3.5rem;
}

/* Histórico */
#div_history_items {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    overflow-y: auto;
    padding: 0.5rem;
    gap: 0.5rem;
}

#div_history_items .history-item {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 5px;
    align-items: center;
}

#div_history_items .history-item h4 {
    margin: 0;
    border-bottom: 1px solid darkgray;
}

.history-item.not-found {
    opacity: 0.5;
}

.history-item.found {
    outline: 3px solid #198754;
}